.login-card {
    display: block;
    border: 1px solid #ccc;
    width: 600px;
    height: 500px;
    margin: 3% auto;
}

.title {
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 5% 0;
}

.input-container {
    padding: 0 8% 30px 8%;
}

.input-container button {
    height: 50px;
    margin: 20px 0;
    padding: 0 8% 0px 8%;
}

.form-input {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 6px;
    width: 100%;
    padding: 12px 12px;
}

.btn {
    width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: #fff;
    color: black;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
}

.btn-google {
    width: 100%;
    box-shadow: none;
    border: 1px solid #0171bb;
    background-color: #0171bb;
    color: white;
    border-radius: 0;
    margin-bottom: 15px;
    padding: 10px 0 10px 0;
}